# Virtual Environment
venv/
ENV/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Uploaded Media & Cache
uploads/*
!uploads/.gitkeep

# Local Secrets & Configurations
data/config.json

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.idea/
.vscode/
*.swp
